.fatdiv {padding :10px;}
.margin30 { margin: 30px 0;}
.margin100 {margin: 100px 0 30px 0;}
.margin1050 {margin:0px 30px 30px 50px}r
.breadcrumb-item+.breadcrumb-item::before {
    content: url(../img/GLYPHICONS/glyphicons_223_thin_right_arrow.png);
    margin-top: 5px;
}

.bidragup {position: relative; top:-3px;}

.tblines{border-top: 3px solid black; border-bottom: 3px solid black; }